<a href="https://colab.research.google.com/github/kimhyunji202101165/hyunji_202101165/blob/main/Quiz1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

마이클이 흙을 나른다고 가정하자. 
옮겨야 할 흙은 총 n킬로그램이고, 마이클은 3kg씩 혹은 5kg씩 나를 수 있다.
최대한 적은 노력으로 모든 흙을 나를 수 있는 코드를 작성하라.
(단, 나르는 흙의 양이 총량과 정확하게 떨어지지 않으면 총량을 살짝 넘긴다.)

예: n = 18일 때, 3kg 6번보다 5kg 3번 + 3kg 1번이 (= 4번) 더 나은 방법이다.

예: n = 19일 때, 3kg을 1번 더 옮겨야 함.

n은 랜덤으로 주어진다.
출력값 = (3kg 나르는 횟수, 5kg 나르는 횟수)

In [13]:
from random import *

n = randint(1, 100)
print(f'나를 흙의 무게: {n}(kg)')

a = 0 # 5kg 나르는 횟수
b = 0 # 3kg 나르는 횟수

a = n // 5

if (n % 5) == 3 or (n % 5) % 3 < 0:
  b = 1
elif (n % 5) > 3:
  b = (n % 5) // 3 + 1

print(a, b)

나를 흙의 무게: 80(kg)
16 0

세 수를 입력받고 가장 큰 수를 찾는 코드를 작성하세요.

예: 12, 14, 15 입력 받았다면 15

In [14]:
num1 = input('첫 번째 수를 입력하세요: ')
num2 = input('두 번째 수를 입력하세요: ')
num3 = input('세 번째 수를 입력하세요: ')

biggest = 0 # 가장 큰 수

if num1 > num2 and num1 > num3:
  biggest = num1

elif num2 > num1 and num2 > num3:
  biggest = num2

elif num3 > num1 and num3 > num2:
  biggest = num3

print(f'가장 큰 수는 {biggest}')

첫 번째 수를 입력하세요: 12
두 번째 수를 입력하세요: 14
세 번째 수를 입력하세요: 15
가장 큰 수는 15

# 편의점 매출 계산하기

  - 총 매출 = (소비자 가격 - 원가) * 개수
  - 조건: 5개 이상 구매 시 전체 물품의 15% 할인

한 고객이 다음과 같이 물건을 구입했다고 할 때, 편의점의 매출을 계산하시오.

  - 최대한 모든 리터럴을 변수에 담을 것.
  - 출력값은 총 매출액 (정수)

---

영수증

(품목, 원가, 소비자가, 개수)

- 비요뜨, 480, 1300, 3
- 삼각김밥, 900, 2500, 5
- 콜라, 380, 800, 6
- 바나나, 1050, 3200, 2
- 홈런볼, 770, 1500, 4

In [23]:
# 원가
viyott_cost = 480
tri_cost = 900
cola_cost = 380
banana_cost = 1050
homerun_cost = 770

# 소비자가
viyott_ret = 1300
tri_ret = 2500
cola_ret = 800
banana_ret = 3200
homerun_ret = 1500

# 개수
viyott_count = 3
tri_count = 5
cola_count = 6
banana_count = 2
homerun_count = 4

# 매출액
viyott_sales = 0
tri_sales = 0
cola_sales = 0
banana_sales = 0
homerun_sales = 0

if viyott_count >= 5:
  viyott_sales = 0.85 * ((viyott_ret - viyott_cost) * viyott_ret)
else: 
  viyott_sales = (viyott_ret - viyott_cost) * viyott_count

if tri_count >= 5:
  tri_sales = 0.85 * ((tri_ret - tri_cost) * tri_count)
else: 
  tri_sales = (tri_ret - tri_cost) * tri_count

if cola_count >= 5:
  cola_sales = 0.85 * ((cola_ret - cola_cost) * cola_count)
else:
  cola_sales = (cola_ret - cola_cost) * cola_count

if banana_count >= 5:
  banana_sales = 0.85 * ((banana_ret - banana_cost) * banana_count)
else:
  banana_sales = (banana_ret - banana_cost) * banana_count

if homerun_count >= 5:
  homerun_sales = 0.85 * ((homerun_ret - homerun_cost) * homerun_count)
else:
  homerun_sales = (homerun_ret - homerun_cost) * homerun_count

# 총매출액
total = viyott_sales + tri_sales + cola_sales + banana_sales + homerun_sales

print(total)

18622.0

달팽이가 높이 350미터인 나무 막대를 올라간다.

- 달팽이는 낮에 5미터 올라간다.
- 밤에는 2미터 미끄러진다.
- 정사에 올라간 후에는 미끄러지지 않는다.

달팽이가 막대기 정상에 올라가려면 며칠이 걸리는지 코드를 짜서 프린트하시오.

In [26]:
height = 350

day = 5
night = -2

one_day = day + night

how_long = height // one_day

print(f'달팽이가 정상에 올라가는 데에 {how_long}일이 걸린다')

달팽이가 정상에 올라가는 데에 116일이 걸린다