# Ch02 Variable
- string
- float
- integer
- boolean

In [1]:
# 여러 변수명에 동일한 값을 동시에 할당할 수 있다
two = deux = dos = 2 #dos -> deux -> two 역순으로 값이 할당된다
two

2

In [3]:
# 여러 변수명 동시에 할당 가능
two = deux = das = 2 # das -> deux -> two
print(two, deux, das)

2 2 2

### 객체
파이썬의 모든 데이터 타입들은 객쳬(object)이다
객체 단위로 메모리 상에서 정보를 관리한다
객체의 3가지 특성 - 값(value), 유형(type), 정체성(id)

- 값(value) : 메모리에 기록된 내용. 가변 객체는 값이 변할 수 있지만 불변 객체는 변하지 않는다.
- 유형(type) : type() 함수를 통해 객체의 유형을 알 수 있으며 데이터의 종류를 보여준다.
- 정체성(identity) : id()함수를 통해 알 수 있다. 각각의 객체를 식별하기 위한 고유번호(메모리 상에 위치한 주소 값)

- 가변 객체(mutable) : 객체에 할당된 값을 수정할 수 있다
    - list, set, dict
- 불변 객체(immutable) : 객체에 할당된 값을 수정할 수 없다
    - int, float, bool, tuple, string, unicode, ...

불변 객체의 경우 변수에 새로운 값을 부여했을 때 메모리 위치가 바뀐다 
-> 기존의 값이 변경된 것이 아니라 새로운 object를 생성한 것이다 
(기존에 존재했던 value '2'는 메모리에서 제거됨

In [4]:
# 불변객체
two = deux = 2
two = 4 # 기존의 값 '2'가 변경된 것이 아니라 새로운 object를 생성한 것, 나머지 변수의 값은 바뀌지 않음

print(two, deux)

id(two), id(deux) # 변수에 새로운 값을 부여했을 때 메모리 위치가 바뀌고, 기존 값은 메모리에서 제거됨

4 2

(1738807536016, 1738807535952)

In [5]:
# 변수에는 값뿐만 아니라 또 다른 변수도 할당할 수 있다
p = [1, 2, 3]
q = p
p, q

([1, 2, 3], [1, 2, 3])

In [26]:
p[0] = 9
p, q # q에 p를 할당했으므로 값이 함께 바뀐다

id(p), id(q) # 동일한 id

(3092733245120, 3092733245120)

#### 좋은 변수명
- 간결, 명확, 담고자 하는 데이터를 유추할 수 있어야
- 수긍하기 쉽고, 기억하기 쉽고, 입력하기 쉽게 짓기
- 의미 없는 변수 피하기 (a, b, c, ...)
- 코드에는 의미가 담기고 주석에는 의도가 담긴다.
    - 예: the number of students
    - (안 좋은 순으로) n < the_number_of_students < num_students
    - 카멜표기법: numStudents

### 자료형 변환, 형 변환
- str(<변환할 값>), int(), float(), bool()

In [11]:
a = 10

# str
str(a)

# float
float(a)

# bool
bool(a) #어떤 값이 False로 변환이 되는지만 기억을 하라

True

#### 자료형의 참과 거짓
- 빈 문자열, 리스트, 튜플, 딕셔너리는 False
- 1 -> True 
- 0 -> False
- 'None' -> False

float을 int로 바꿀 때

In [8]:
x = 19.7
int(x) # int()는 소수 부분 버리고 정수를 리턴

19

In [9]:
y = 1.8
print(int(x + y)) # 값끼리 더한 후 소수 부분 버림
print(int(x) + int(y)) # 각각 소수 부분 버린 후 더함

# 값이 다름 주의

21
20

In [17]:
i = '10'
int(i), float(i)

(10, 10.0)

In [10]:
j = '10.7'
int(j)
# str을 int로 바꾸려 하면 에러가 뜬다

ValueError: invalid literal for int() with base 10: '10.7'

### `print` 꿀팁

In [12]:
dog = 'dog'
cat = 'cat'
lion = 'lion'

print(dog + cat + lion) #공백 없이 바로 연결, \n
print(dog, cat, lion) # 공백 O, \n

dogcatlion
dog cat lion

In [14]:
print(dog, cat, lion, sep='', end= '\n') # argument 안에서 =을 붙여 쓰기도
print(dog, cat, lion, sep='/', end='\n\n') # sep의 default: space, end의 default: newline 
print('EOL') # end of line

dogcatlion
dog/cat/lion

EOL

In [51]:
#1
print('My favorite animal is', dog)

#2
print(f'My favorite animal is {dog}.') # 문자열 포매팅 방법 중 f-string

My favorite animal is dog
My favorite animal is dog.

In [50]:
# 코드 줄이 짧을 때 ;(semicolon)을 이용해 한 줄로 쓸 수 있다.
# 한 줄에 여러 구문을 사용할 때 ;으로 구분

dog = 'dog'; cat = 'cat'; lion = 'lion'
print(dog)

dog

---

### `input()` 함수
- console에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력 받은 값을 변수에 담아서 사용한다. 그렇지 않으면 값은 사라진다.
- 사용자가 입력한 값이 숫자라도 문자열로 취급한다 - 정수로 저장하고 싶다면 int(), 실수로 저장하고 싶다면 float() 함수 사용

In [2]:
input("Hello?")

Hello? Hi

'Hi'

In [3]:
int(input('나이가 어떻게 되나요?'))

나이가 어떻게 되나요? 55

55

- 변수에 할당하는 방법

In [58]:
#1.
age = input('나이가 어떻게 되나요?') 
# input 함수의 괄호에 안내 문구 문자열을 넣어 사용자에게 원하는 값을 입력하도록 요구할 수 있다

나이가 어떻게 되나요? 34

In [61]:
#2
print("나이가 어떻게 되나요?")
age = input()

나이가 어떻게 되나요?

 34

In [6]:
age

'53'

#### Quiz 1
- 섭씨를 입력 받아서 화씨로 변환하기
- "섭씨 * 1.8 + 32 = 화씨"

In [57]:
celsius = float(input('섭씨 몇 도입니까?'))
fahrenheit = celsius * 1.8 + 32

print(f'화씨 {fahrenheit}도 입니다.')

섭씨 몇 도입니까? 34

화씨 93.2도 입니다.

온도는 float으로 받는다
특별한 이유 없이 대문자 변수명(C, F) 쓰지 않는다

### Quiz 2
- 택배 정보 입력 받고, 총 합계 계산하기
- 출력값:
    - "==택배 정보=="
    - 수취인 성명: <이름>
    - 수취인 주소: <주소>
    - 배송비: 3000원
    - 총 합계: <가격>원
- 물건 비용 = 무게(g) * 5
- 합계 = 배송비 + 물건 비용

In [71]:
name = str(input('수취인 성명:'))
address = str(input('수취인 주소:'))
weight = float(input('택배 무게(g):'))
price_item = int(weight * 5)
shipping_fee = 3000
price_total = shipping_fee + price_item

print(f'''
==택배 정보==
수취인 성명: {name}
수취인 주소: {address}
택배 무게(g): {weight}
물건 비용: {price_item}원
배송비: {shipping_fee}원
합계: {price_total}원
''')

수취인 성명: 김현지
수취인 주소: 동수원 자이1차 101동 1207호
택배 무게(g): 600.5

==택배 정보==
수취인 성명: 김현지
수취인 주소: 동수원 자이1차 101동 1207호
택배 무게(g): 600.5
물건 비용: 3002원
배송비: 3000원
합계: 6002원

---

# Ch03. Numbers

#### boolean
- bool로 형 변환할 때, 어떤 값이 True, False인지 기억하라
    - '', None, 0 이 False
- 조건식에서 많이 쓴다. 예) 만약 이 조건이 True라면, ...

In [72]:
bool(1) # 비어 있지 않은 모든 인수에 대해 True를 반환

True

In [74]:
bool('') # 빈 인수에 대해 False를 반환

False

#### integer
- 소수점 부분 없음
- default가 양수, 음수는 앞에 -를 붙임
- 숫자 앞에 0을 붙일 수 없다. 예) 05
    - 예외적으로, 0bxxx, => 다른 진수 표현법
- 리터럴
    - 숫자나 문자열 등을 말함
    - 리터럴 상수: 한 번 지정되면 변하지 않고, 변경할 수 없다 (숫자 2는 언제나 2라는 숫자임을 나타냄)
- 중간에 공백이 많아도 무시 된다
- 10,000원 -> 10과 000 두 개로 인식 => 대신 숫자 사이에 있어도 무시 되는 언더바 사용 (예: 10_000)

In [3]:
a = -9
8 + a

-1

In [75]:
a = 09 # 숫자 앞에 0을 붙일 수 없다

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_21372/3870451612.py, line 1)

In [76]:
-9  +  8         -5 # 중간에 공백이 많아도 무시 된다

-6

In [77]:
a = 10_000 # 숫자 사이에 있는 언더바는 무시된다
print(a)

10000

#### 연산
- 연산자|operator: +, -, ...
- 피연산자|operand: 4, 5, ...
- 수식|expression

In [84]:
x = 4
y = 9

print(
x + y, 
x - y, 
x * y,
x / y
)

# 거듭제곱|exponential
x ** y

13 -5 36 0.4444444444444444

262144

나눗셈에서 주의할 사항

In [88]:
#1. can't be divided by zero => 주의 (x/y에서 y != 0)
#2. 몫, 나머지
print(
x // y, # 몫
x % y, #나머지
x / y # 단순 나눗셈
)

0 4 0.4444444444444444

In [92]:
x = 4
y = 9
divmod(x, y) # 몫과 나머지를 구하여 tuple로 반환하는 내장함수

(0, 4)

#### 복합 대입연산자| compound assignment operator

In [93]:
a = 5
a - 3
print(a) # a자체의 값은 여전히 5

5

In [173]:
a = 5
# a = a - 3

"""
원리
1. a-3 계산
2. 임시변수 temp = a-3
3. a = temp
"""

a -= 3
print(a)

2

In [15]:
a += 3
a -= 3
a *= 3
a /= 3

In [101]:
u = u + 1 # 변수값을 초기화하지 않고 사용하면 에러가 남

NameError: name 'u' is not defined

In [22]:
u = 4 # 값 초기화할 것
u = u + 1
u

5

### Quiz 1.
- 정수를 입력 받고 3의 배수인지 확인하세요.
- 홀수인지 확인하세요.

In [ ]:
num = int(input('정수를 입력하세요:'))

if num % 3 == 0:
    print(f'{num}은(는) 3의 배수이며,', end = ' ')
else:
    print(f'{num}은(는) 3의 배수가 아니며,', end = ' ')
    
if num % 2 == 1:
    print('홀수입니다.')
else:
    print('홀수가 아닙니다.')

정수를 입력하세요: 3

3은(는) 3의 배수이며, 홀수입니다.

In [113]:
num = int(input('정수를 입력하세요:'))
print(f'{num}은(는) 3의 배수이다:')
num % 3 == 0

정수를 입력하세요: 6

6은(는) 3의 배수이다:

True

In [114]:
num = int(input('정수를 입력하세요:'))
print(f'{num}은(는) 홀수이다:')
num % 2 == 1

정수를 입력하세요: 3

3은(는) 홀수이다:

True

#### 지수 표현
- e, E 둘다 가능하다
- 앞부분은 float, int 둘 다 올 수 있으며, 뒷부분은 int만 온다
- e의 뒷부분이 음수면 소수점 자릿수를 의미

In [158]:
1.0e10 # float

10000000000.0

In [175]:
4.24e10 # 4.24 * 10^10
4.24e-10 # 4.24 * 10^-10

4.24e-10

In [177]:
# 0.000789 => 지수표현
789e-6

0.000789

---

### 조건문, if
- code structure

### 코드 짜는 룰
- 주석 다는 법
    - 코드를 설명하는 부분
    - 목적: 의도 표현, 의사소통 등
    - #(hash, sharp) : 시작된 부분부터 그 라인의 끝까지가 주석(한 줄 주석)
        - ctrl + / : 여러 줄을 #으로 주석처리
    - 문자열 안에 들어있는 해시는 문자열로 인식
    - '''<주석>''' or """<주석>""" : 여러 줄 주석
    
- 라인 유지하기
    - 들여쓰기 : 소스와 동일한 들여쓰기를 해야 한다 
        - 공백 4개, 탭 1개
    - 가독성을 위해 한 줄에 80자를 넘지 않도록
    - 백슬레시로 끊어준다 (`/`)

In [1]:
a = 3 # 해시부터 라인 끝까지가 주석이다
b = 2

In [3]:
example = 'hey ###' # 문자열 안에 들어있는 해시는 문자열로 인식된다
print(example)

"""
주석1
주석2
주석3
""" # 여러 줄 주석

hey ###

'\n주석1\n주석2\n주석3\n'

In [5]:
# 조건문
if ....:
    ### 자동 들여쓰기

SyntaxError: invalid syntax (Temp/ipykernel_27700/3590242269.py, line 2)

#### 조건 1개:
    if <조건식1>:
        <실행할 코드1>

In [6]:
if 4 == 9:
    print('Yaay!')

In [8]:
if 4 != 9:
    print('Yaay!')

Yaay!

#### 조건 2개:
    if <조건식1>:
        <실행할 코드>
    else:
        <실행할 코드2>

In [10]:
if 4 == 9:
    print('Yaay!')
else:
    print('Hey!')

Hey!

#### 조건 3개 이상:
    if <조건식1>:
        <실행할 코드>
    elif <조건식2>:
        <실행할 코드3>  
    ... else:
        <실행할 코드>

#### 비교연산자
- x < y, x <= y
- x > y, x >= y
- x == y (값)
- x != y (값)
- x is y (값, 메모리 주소)
- x is not y

### Quiz 1.
- 학점 부여하기
- 학점을 입력 받아서
    - 90점 이상이면 A
    - 80, B
    - 70, C
    - 그외 D
    
- 변수 설정 유의
- f string 쓰고, 콤마 쓰지 말고

In [22]:
score = int(input('점수를 입력하세요: '))
grade = '' # 입력한 점수에 대한 학점

print('=== 학점 계산기 ===')

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'

print(f'입력하신 점수는 {score}점이며, {grade}학점 입니다.')

점수를 입력하세요:  45

=== 학점 계산기 ===
입력하신 점수는 45점이며, D학점 입니다.

### Quiz 2.
- 아이디와 비번 입력 받아서 둘다 일치하면 로그인하기
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤 걸로 반환하기

In [21]:
set_id = 'hyunji'; set_pw = '1234'

enter_id = input('ID를 입력하세요:')
enter_pw = input('비밀번호를 입력하세요:')

if user_id == enter_id and user_pw == enter_pw:
    print('로그인 되었습니다.')
elif user_id != enter_id or user_pw != enter_pw:
    print('ID 또는 비밀번호가 일치하지 않습니다.')

ID를 입력하세요: hyunji
비밀번호를 입력하세요: 1234

로그인 되었습니다.

#### 논리연산자
- 여러 조건식을 비교할 때
    - 예: 10 < x < 20
    - 파이썬에서만 가능한 표현
- and, & : 둘다 참일 때만 True
- or, |: 둘 중 하나만 참이어도 True
- not: 참 -> False, 거짓 -> True

### Quiz 3.
- quiz 2 확장판
- 결석 횟수를 받아서 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 점수대로

In [27]:
score = int(input('점수를 입력하세요:'))
number_of_absence = int(input('결석 횟수를 입력하세요:'))
grade = '' # 입력받은 점수에 대한 학점

if score >= 90:
    if number_of_absence >= 2:
        grade = 'F'
    else:
        grade = 'A'
elif score >= 80:
    if number_of_absence >= 2:
        grade = 'F'
    else:
        grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'

print(f'입력하신 점수는 {score}점이며, {grade}학점 입니다.')

점수를 입력하세요: 80
결석 횟수를 입력하세요: 2

입력하신 점수는 80점이며, F학점 입니다.